

@media screen and (max-width:600) {

    .navbar a {
font-size: smaller;
}

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 }

 body {
    background: #000000

 } 

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color:rgba(144, 42, 170, 0.271);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    color:black ;
    text-decoration: none;
    font-weight: 800;
    margin-left: 40px;
    font-family: 'Sacramento', cursive;
    font-size: 34px;
}

.navbar a {
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
    transition: .4s;
}

.navbar a:hover,
.navbar a.active {
    color: #ffffff;
}

.home {
    background: rgb(238,174,202);
background: radial-gradient(circle, rgb(247, 117, 173) 0%, rgb(133, 109, 176) 100%);
background-size: cover;
background-position: center;
    height: 100vh;
    display: flex;
    align-items:center ;
    padding: 0 5%;
}

.home-content {
    line-height: 1.2;
    background-color: transparent;
    max-width: 600px;
    animation-name: slidein;
}


.home-content h1 {
    font-size: 48px;
    font-weight: 800;
    color: white;
}

.home-content h3 {
    font-size: 30px;
    font: weight 800px; 
    color: rgb(255, 200, 238);
    

}

.home-content p {
    margin: 10px 0 40px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(129, 255, 127);
}

.home-content .btn-box {
    width: 150px;
    height: 50px;
    
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color: #63cd6f;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
}

.btn-box a:hover {
    color: #ae58c1;  
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(255, 255, 255);
    z-index: -1 ;
    transition: .5s;

}

.btn-box a:hover:before {
    width: 100%;
}

.home-sci {
position: absolute;
bottom: 40px;
width: 170px;
display: flex;
justify-content: space-evenly;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
color: rgb(255, 255, 255);
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #389654;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before{
width: 100%;

}


/*CONTACT-PAGE*/

/*MAIN*/

.body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background: radial-gradient(circle, rgb(247, 117, 173) 0%, rgb(133, 109, 176) 100%);
    background-size: cover;
    padding: 0 10%;   
}


.contact-me {
    margin-top: 100px;
    grid-column:2/4; 
    grid-row: 1/2 ;
}

.contact-container {
    background-color: white;
    margin-top: 40px;
    grid-column:2/4 ;
    grid-row: 2/4; 
}

.reach-container {
    background-color: #9b63c0;  
    margin-top: 40px;
    grid-column:4/5 ;
    grid-row: 2/4; 

}

.contact-me h1  {
    font-size: 34px;
    width: 300px;
    margin-top: 30px;   
}

.contact-me p {
    font-size: 18px;
    width: 300px;
}

.contact-container h1 {
    font-weight: 600;
    text-align:start;
    padding-left: 10px;
}

.reach-container p{ 
    font-weight: 600;
    font-size: 24px;
    padding: 10px;
    text-align: center;
    color: white;
}

.reach-container h2, h4, h6 {
    font-size: 14px;
    line-height: 1.2;
    font-family: sans-serif;
    color: aliceblue;
    padding: 10px;
    font-weight: lighter;
    text-align: center;
}

.input-field{
    display: flex;
    margin-left: 50px;
    width: 300px;
    padding: 5px;
    border: 1px solid rgb(0, 0, 0);
    
 }
 .contact-container:nth-child(2) {
    text-align:end; 
    padding: 20px;
 }

 .input-field {
    margin-left: 2%; 
    margin-bottom: 20px;
    margin-top: 30px;
 }
 
.textarea-field {
    resize: none;
}

.home-sci-contact {
    position: static;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 70px;
    margin-top:10px ;

    
}
    
    .home-sci-contact a {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background: transparent;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 50%;
        font-size: 20px;
        color: rgb(0, 0, 0);
        text-decoration: none;
        z-index: 1;
        overflow: hidden;
        transition: .5s;
    }
    
        .home-sci-contact a:hover {
        color: rgb(255, 255, 255);
        }
    
            .home-sci-contact a::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background: #e05bea;
            z-index: -1;
            transition: .5s;
            }
    
            .home-sci-contact a:hover::before{
            width: 100%;
    
            }
    


@media screen and (max-width: 600px) {
 


    .input-field {
    width: 200px;
    } 
    .reach-container {
        grid-column: 1/6 ;
        grid-row: 4/5;
    }
    .contact-container {
        grid-column: 1/6;
    }

    .home-sci-contact {
        margin-bottom: 15px;
        margin-left: 130px;
        gap: 10px;
    }

}


/*WORK-PAGE*/


.work {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5,1fr);
    background: radial-gradient(circle, rgb(247, 117, 173) 0%, rgb(133, 109, 176) 100%);
    min-height: 500px;

}

.work-container {
    grid-column: 2/5;
    grid-row: 1/5;
    margin-top: 15vh;
    background-color: #0000008c;
    margin-bottom: 20vh;
    flex-direction: row;
    border-radius: 10px;
}

.category-work {
    display: flex;
    flex-direction: column;
}

.work-container h1 {
    color: white;
    padding-left: 20px;
    padding-top: 20px;
    line-height: 2.5;
    font-size: 34px;
}

.work-container p {
    color: white;
    padding-left: 20px;
}

.pictures-work {
    width: 20%;       

    transition: 2s;
} 

.pictures-work:hover {
    scale: 120%;
    border-radius: 15px;
}

.pictures-flyer {
  width: 20%;  
}

.pictures-logo {
    width: 20%;
}
.pictures-mag {
    width: 20%;
}

.pictures-art {
    width: 20%;
}


.category-work {
    margin-top: 40px;
}

@media screen and (max-width: 590px) {

.work-container p {
    font-size: 12px;
}
.pictures-work {
    width: 100%; 
}

.pictures-flyer {
  width: 100%;  
}

.pictures-logo {
    width: 100%;
}
.pictures-mag {
    width: 100%;
}

.pictures-art {
    width: 100%;
}

}
/*VECTORS*/

.cartoon {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4,1fr);
    background: radial-gradient(circle, rgb(247, 117, 173) 0%, rgb(133, 109, 176) 100%);
    z-index: 1


}

.cartoon-container {
    grid-column: 1/5;
    grid-row: 1/3;
    margin-top: 20vh;
    background-color: rgba(0, 0, 0, 0.508);
    height: 600px;
}

.cartoon-container h1 {
    padding: 30px 40px;
}

.picture-cartoon {
    display: flex;
    flex-direction: row;
    grid-column: 2/2;
    grid-row: 1/2;
    color: rgb(0, 0, 0);
    margin-top: 80px;
    gap: 100px;
}


#buttercup {
    width: 200px;
    animation: ;
  
}

#ghostface {
    width: 200px;
}



@media screen and (max-width: 590px) {
    .cartoon-container h1{
font-size: 32px;
    }
    .buttercup {
        width: 150px;
    }
    .buttercup-text p {
        font-size: small;
    }
}

